name: Fetch Flight Data

on:
  workflow_dispatch: # Allows you to run it manually
  schedule:
    - cron: '15 */2 * * *' # Runs every 2 hour 15 minutes

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas pyopensky duckdb

      - name: Run data fetcher script
        # This secret is exposed as an environment variable
        env:
          MOTHERDUCK_TOKEN: ${{ secrets.MOTHERDUCK_TOKEN }}
        run: python get_data.py
